# Database
DATABASE_URL="postgresql://user:password@localhost:5432/lavanderiadb?schema=public"

# NextAuth
NEXTAUTH_SECRET="cambia-esto-por-algo-secreto-y-aleatorio"
NEXTAUTH_URL="http://localhost:3000"
